<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" formControlName="email" required />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es obligatorio.
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Ingresa un correo válido.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es obligatoria.
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Iniciar Sesión
    </button>
  </form>
  