<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="sidenav-logo">admin_panel_settings</mat-icon>
      <span class="sidenav-title">Admin Panel</span>
    </div>

    <mat-nav-list class="sidenav-nav">
      <a mat-list-item routerLink="/admin/upload-excel" routerLinkActive="active-link">
        <mat-icon matListItemIcon>upload_file</mat-icon>
        <span matListItemTitle>Cargar Excel</span>
      </a>

      <a mat-list-item routerLink="/admin/assign-prospects" routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Asignar Prospectos</span>
      </a>

      <a mat-list-item routerLink="/admin/reports" routerLinkActive="active-link">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <span matListItemTitle>Ver Reportes</span>
      </a>

      <a mat-list-item routerLink="/admin/manage-users" routerLinkActive="active-link">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Gestionar Usuarios</span>
      </a>
    </mat-nav-list>

    <div class="sidenav-footer">
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesion</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="main-header">
      <button mat-icon-button (click)="sidenav.toggle()" class="toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Panel de Administracion</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
